<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/sj logo wot.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>SJ DEVELOPER</title>
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <img src="/images/sj logo.png" alt="">
        <a href="" class="logo"><span>SJ</span> DEVELOPER</a>
        </div>
        <img src="/images/menu.png" alt="" id="menu-icon">
        <nav class="navbar" id="navbar">
            <a href="#home"  class="navlink active">Home</a>
            <a href="#about" class="navlink ">About</a>
            <a href="#services" class="navlink ">Services</a>
            <a href="#skills" class="navlink ">Skills</a>
            <a href="#projects" class="navlink ">Projects</a>
            <a href="#contact" class="navlink ">Contact</a>
        </nav>
    </header>

    <section class="home" id="home">
        <div class="home-content">
            <h3>Hi, it's Me</h3>
            <h1>Stephenjoseph M</h1>
            <h3>And I'm a <span>FullStack Developer</span></h3>
            <p>Full-stack web developer proficient in both front-end and back-end technologies, specializing in building scalable and efficient web applications.Experienced in developing modern solutions using technologies like HTML, CSS, JavaScript, Node.js, Express.js, and databases.</p>
            <div class="social-media">
                <a href="https://chat.whatsapp.com/BVGaxjJ0NOR63IErgx0Vvr" target="_blank"><img src="images/whatsapp.png" alt=""></a>
                <a href=""  onclick="alert('Currently Unavailable')"><img src="images/insta.png" alt=""></a>
                <a href="https://www.linkedin.com/in/stephenjoseph-m-00752b268/" target="_blank"><img src="images/linkedin.png" alt=""></a>
                <a href="#contact" ><img src="images/gmail.png" alt=""></a>
                <a href="https://github.com/Stephenjoseph2604" target="_blank"><img src="images/github.png" alt=""></a>
            </div>
             <form action="/downloadFile">
            <button class="download-btn">Download CV</button>
            </form>
        </div>
        <div class="profile">
            <img src="images/stephenjoseph copy1blur.png" alt="">
        </div>
    </section>

    <section class="about" id="about">
        <div class="profile aboutprofile">
            <img src="images/stephenjoseph copy1blur.png" alt="">
        </div>
        <div class="about-content">
            <h1>About <span>Me</span></h1>
            <h3>Full-stack Developer</h3>

            
            <p>I am a full-stack developer specializing in MERN stack (MongoDB, Express.js, React, Node.js) to create modern, scalable web applications. With a strong foundation in both front-end and back-end development, I focus on delivering high-performance solutions that are intuitive, responsive, and optimized for user experience. My expertise includes designing RESTful APIs, building efficient database architectures, and creating engaging user interfaces. I am passionate about continuous learning and staying up-to-date with the latest web technologies to bring innovative ideas to life in every project I undertake.</p>
           
            <button class="read-btn">Read More</button>
           
        </div>
    </section>
    <section class="services" id="services">
        <h2 class="heading">Our <span>Services</span></h2>
        <div class="service-container">
            <div class="service-box">
                <img src="images/code.png" alt="">
                <h3>Front-end</h3>
                <p>Providing expert front-end development services, specializing in creating responsive, interactive, and visually appealing user interfaces using modern technologies like React, HTML, CSS, and JavaScript.</p>
                <button class="read-btn">Read More</button>
            
            </div>
            <div class="service-box">
                <img src="images/network.png" alt="">
                <h3>Back-end</h3>
                <p>Offering comprehensive development services in both front-end and back-end, delivering seamless, responsive user interfaces and robust, scalable server-side solutions using technologies like React, Node.js, Express, and MongoDB.</p>
                <button class="read-btn">Read More</button>
            
            </div>
            <div class="service-box">
                <img src="images/database.png" alt="">
                <h3>Database</h3>
                <p>Offering full-stack development services across front-end, back-end, and database management. Specializing in building responsive interfaces, scalable server-side applications, and efficient databases using technologies like React, Node.js, Express, and MongoDB.</p>
                <button class="read-btn">Read More</button>
            
            </div>
        </div>
    </section>
    <section class="skills" id="skills">
        <h2>My <span>Skills</span></h2>

        <div class="skill-container">
            <div class="skill-box">
                <img src="images/skills/java.png" alt="">
                <hr>
                <h3>Java</h3>
            </div>
            <div class="skill-box">
                <img src="images/skills/html.png" alt="">
                <hr>
                <h3>HTML 5</h3>
            </div>
            <div class="skill-box">
                <img src="images/skills/css.png" alt="">
                <hr>
                <h3>CSS</h3>
            </div>
            <div class="skill-box">
                <img src="images/skills/javascript.png" alt="">
                <hr>
                <h3>Java Script</h3>
            </div>
            <div class="skill-box">
                <img src="images/skills/nodejs 2.png" alt="">
                <hr>
                <h3>Node js</h3>
            </div>
            <div class="skill-box">
                <img src="images/skills/expressjs.png" alt="">
                <hr>
                <h3>Express js</h3>
            </div>
            <div class="skill-box">
                <img src="images/skills/mrsql.png" alt="">
                <hr>
                <h3>My SQL</h3>
            </div>
            <div class="skill-box">
                <img src="images/skills/mongodb.png" alt="">
                <hr>
                <h3>Mongo DB</h3>
            </div>
            
            <div class="skill-box">
                <img src="images/skills/git2.png" alt="">
                <hr>
                <h3>Git</h3>
            </div>
            <div class="skill-box">
                <img src="images/skills/github.png " alt="">
                <hr>
                <h3>GitHub</h3>
            </div>
            <div class="skill-box">
                <img src="images/skills/react js.png" alt="">
                <hr>
                <h3>React js</h3>
            </div>
            <div class="skill-box">
                <img src="images/skills/tailwind.png" alt="">
                <hr>
                <h3>Tailwind </h3>
            </div>
            <div class="skill-box">
                <img src="images/skills/photoshop.png" alt="">
                <hr>
                <h3>Photoshop</h3>
            </div>
            <div class="skill-box">
                <img src="images/skills/ppt2.png" alt="">
                <hr>
                <h3>MS PPT</h3>
            </div>
            <div class="skill-box">
                <img src="images/skills/ms word.png" alt="">
                <hr>
                <h3>MS Word</h3>
            </div>
            <div class="skill-box">
                <img src="images/skills/ms ex.png" alt="">
                <hr>
                <h3>MS Excel</h3>
            </div>
            
    

        </div>
       
    </section>

    <section class="projects" id="projects">
        <h2>Latest <span>Projects</span></h2>
        <div class="project-container">
            <div class="project">
                <img src="images/sms.jpg" alt="">
                <div class="overlay">
                    <h3>Student Management System</h3>
                    <p>To show the all details about the studetns</p>
                </div>
            </div>
            <div class="project">
                <img src="images/portfolio.jpg" alt="">
                <div class="overlay">
                    <h3>Responsive Portfolio</h3>
                    <p>To Enhance the Network for any Person or Organization</p>
                </div>
            </div>
            <div class="project">
                <img src="images/tic tac toe.jpg" alt="">
                <div class="overlay">
                    <h3>Tic Tac Toe</h3>
                    <p>To play the Tic Tac Toe game on the Webpage</p>
                </div>
            </div>
        </div>
    </section>

    <section class="contact" id="contact">
        <h2>Contact <span>Me</span></h2>
        <form action="/sendMail" class="info" method="post">
            <input type="text" name="name" placeholder="Full Name">
            <input type="email" name="email" placeholder="Email">
            <input type="number" name="phone" placeholder="Phone">
            <textarea name="description" id="" placeholder="Command"></textarea>
            <button class="send-btn">Send <img src="images/send-regular-24.png" alt=""></button>
        </form>
        <a href="#home"><img src="images/arrow.png" alt="" class="arrow"></a>
    </section>

    <footer class="footer">
        <h4>Design & Developed by</h4>
        <a href="">Sj Developer</a>
     
    </footer>
    

    <script src="script.js"></script>
</body>
</html>